  <div id="carouselExampleControls" class="carousel slide text-center" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://i.pinimg.com/736x/db/5d/98/db5d98d27591cb37b75488ddf65fd550.jpg" class="d-flex align-content-center mx-auto h-50 w-50" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/img/ericito1.jpg" class="d-flex align-content-center mx-auto h-50 w-50" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/img/ericito2.jpg" class="d-flex align-content-center mx-auto h-50 w-50" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>