<%-  include('./partials/header.ejs') %>

<!-- se incluye el carousel -->
<div class="container">
    <%- include('./carousel/carouse.ejs') %> 
</div>
<!-- se incluyen las cartas -->
<%- include('./tasksCards/renderCard.ejs') %>     



<%- include('./partials/footer.ejs') %> 